.card{
    display: flex;
    flex-direction: column;
    /* max-width: 25rem; */
    /* border: 1px solid red; */
    border-radius: 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1.5rem;
    background-color: #ffffff14;
}

.img_wrapper{
    transition: 0.2s ease-in-out;
}
img{
    width: 75%;
    border-radius: 1.5rem;
    display: block;
    margin: 0 auto;
    transition: 0.2s ease-in-out;
}
.text_desc{
    color: #ffffff;
    font-family: "Outfit", sans-serif;;
    font-weight: 400;
}
.call{
    display: flex;
    text-align: center;
    gap: .5rem;
    font-family: "Outfit", sans-serif;;
    font-weight: 400;
}

.call:hover{
    opacity: 0.7;
    transform: scale(.95);
    transition: 0.2s ease-in-out;
}
.call a{
    display: flex;
    text-align: center;
    gap: .5rem;
    font-family: "Outfit", sans-serif;;
    font-weight: 400;
}

@media (min-width:767px) {
    .card{
        padding: 1rem;
    }
    img{
        width: 100%;
    }
}