.container{
    
    background-image: linear-gradient(
        350deg,
        hsl(0deg 0% 0%) 0%,
        hsl(234deg 100% 4%) -1%,
        hsl(233deg 78% 4%) -1%,
        hsl(232deg 61% 5%) 0%,
        hsl(232deg 49% 6%) 2%,
        hsl(232deg 39% 7%) 4%,
        hsl(232deg 33% 8%) 7%,
        hsl(232deg 29% 8%) 12%,
        hsl(232deg 26% 9%) 17%,
        hsl(231deg 24% 10%) 24%,
        hsl(230deg 23% 10%) 34%,
        hsl(230deg 22% 11%) 48%,
        hsl(230deg 21% 11%) 84%
      );

        display:flex;
        flex-direction: column;
        align-items: center;
        /* dark theme gradient
         background-image: linear-gradient(
            310deg,
            hsl(0deg 0% 0%) 12%,
            hsl(2deg 67% 8%) 47%,
            hsl(359deg 36% 12%) 66%,
            hsl(359deg 28% 16%) 78%,
            hsl(359deg 24% 20%) 87%,
            hsl(359deg 20% 24%) 93%,
            hsl(360deg 18% 28%) 97%,
            hsl(360deg 16% 32%) 99%,
            hsl(0deg 14% 37%) 100%
          ); */
        
}

h1 {
    font-family: "Pacifico", cursive;
    color:#ffffff;
    
    font-size: 3rem;
}
.content{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem
}
.details{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    border-radius: 1.5rem;
    max-height: 30rem;
    color: #ffffff;
    overflow-y: auto;
    padding: 1rem;
    background-color: #ffffff14;
    gap: 2rem;
    margin-bottom: 10rem;
}

/*  font families

font-family: "Shadows Into Light", cursive;
font-family: "Barlow Semi Condensed", sans-serif; */



@media (min-width:767px) {
    h1{
        font-size: 4rem;
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 4fr;
        align-items: center;
        gap:5rem
    }
    .details{
        padding: 3rem;
        gap:3rem;
    }
    
}
.desc{
    width: 100%;
    margin-top: 200px;
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5rem;
    word-wrap: break-word;
}

@media (min-width:1500px){
    
    .container{
        height: 100vh;
        padding: 3rem;
        gap:3rem;
    }
}