:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    350deg,
    hsl(0deg 0% 0%) 0%,
    hsl(234deg 100% 4%) -1%,
    hsl(233deg 78% 4%) -1%,
    hsl(232deg 61% 5%) 0%,
    hsl(232deg 49% 6%) 2%,
    hsl(232deg 39% 7%) 4%,
    hsl(232deg 33% 8%) 7%,
    hsl(232deg 29% 8%) 12%,
    hsl(232deg 26% 9%) 17%,
    hsl(231deg 24% 10%) 24%,
    hsl(230deg 23% 10%) 34%,
    hsl(230deg 22% 11%) 48%,
    hsl(230deg 21% 11%) 84%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
